<link rel="stylesheet" href="../css/styleusario.css" />
<main class="container mx-auto tb-pd shadow-sm">
    {{#if root}}
    {{#each usuarios}}
    <h1 class="text-center mb-0" id="titulo">
        <sub>Id: {{dataValues.id}}</sub>Usuário: {{dataValues.nome}}
    </h1>
    <div class=tabela>
        <table class="tableuser">
            <thead>
                <tr>
                    <th class="text-center">
                        <sub>Id: {{dataValues.id}}</sub>
                    </th>
                    <th class="text-center">
                        <sub>Usuário: {{dataValues.nome}}</sub>
                    </th>
                </tr>
                </h1>
            </thead>
            <tbody>
                <tr class="tr-color1">
                    <th>
                        <sub>E-mail</sub>
                    </th>
                    <th>
                        {{ dataValues.email}}
                        </td>
                </tr>
                <tr>
                    <th>
                        <sub>Senha</sub>
                    </th>
                    <td>
                        {{ dataValues.senha}}
                    </td>
                </tr>
                <tr class="tr-color1">
                    <th>
                        <sub>CEP</sub>
                    </th>
                    <td>
                        {{ dataValues.cep}}
                    </td>
                </tr>
                <tr>
                    <th>
                        <sub>logradouro</sub>
                    </th>
                    <td>
                        {{dataValues.logradouro}}
                    </td>
                </tr>
                <tr class="tr-color1">
                    <th>
                        <sub>Número</sub>
                    </th>
                    <td>
                        {{dataValues.numeroLogradouro}}
                    </td>
                </tr>
                <tr>
                    <th>
                        <sub>Complemento</sub>
                    </th>
                    <td>
                        {{dataValues.complementoLogradouro}}
                    </td>
                </tr class="tr-color1">
                <tr>
                    <th>
                        <sub>Cidade</sub>
                    </th>
                    <td>
                        {{dataValues.cidade}}
                    </td>
                </tr>
                <tr>
                    <th>
                        <sub>Estado</sub>
                    </th>
                    <td>
                        {{ dataValues.estado}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {{/each}}
    {{else}}
    <div class="tabela">
        <table class="tableuser">
            <thead>
                <tr>
                    <th class="text-center">
                        <sub>Id: {{usuario.id}}</sub>
                    </th>
                    <th class="text-center">
                        <sub>Usuário: {{usuario.nome}}</sub>
                    </th>
                </tr>
                </h1>
            </thead>
            <tbody>
                <tr class="tr-color1">
                    <th>
                        <sub>E-mail</sub>
                    </th>
                    <td>
                        {{ usuario.email}}
                    </td>
                </tr>
                <tr class="tr-color2">
                    <th>
                        <sub>Senha</sub>
                    </th>
                    <td>
                        {{ usuario.senha}}
                    </td>
                </tr>
                <tr class="tr-color1">
                    <th>
                        <sub>CEP</sub>
                    </th>
                    <td>
                        {{ usuario.cep}}
                    </td>
                </tr>
                <tr class="tr-color2">
                    <th>
                        <sub>Logradouro</sub>
                    </th>
                    <td>
                        {{usuario.logradouro}}
                    </td>
                </tr>
                <tr class="tr-color1">
                    <th>
                        <sub>Número</sub>
                    </th>
                    <td>
                        {{usuario.numeroLogradouro}}
                    </td>
                </tr>
                <tr class="tr-color2">
                    <th>
                        <sub>Complemento</sub>
                    </th>
                    <td>
                        {{usuario.complementoLogradouro}}
                    </td>
                </tr>
                <tr class="tr-color1">
                    <th>
                        <sub>Cidade</sub>
                    </th>
                    <td>
                        {{usuario.cidade}}
                    </td>
                </tr>
                <tr class="tr-color2">
                    <th>
                        <sub>Estado</sub>
                    </th>
                    <td>
                        {{ usuario.estado}}
                    </td>
                </tr>
            </tbody>
            <hr><br>
        </table>
    </div>
    {{/if}}
</main>